@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  overflow-y: auto;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(173, 88, 252, 0.758); 
}

::-webkit-scrollbar-track {
  background-color: rgb(79, 79, 79); 
}